<%= form_for(collection) do |f| %>

  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> 
        prohibited this video collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">

    <%# TODO: Generalize this and make it able to server many types of
      controllers and models %>
    <%# The parent for the collection %>
    <p>

    <% if collection.new_record? %>
      <%= f.label :parent_id, "Parent Collection" %>
      <select id="video_collection_parent_id" 
              name="video_collection[parent_id]">

        <option value="">No Parent</option>
        <% VideoCollection.all.each do |collection| %> 
          <option value="<%= collection.id %>">
            <%= collection.name %>
          </option>
        <% end %>

      </select>
    <% else %>
      <%= f.label :parent_id, "Parent Collection" %>
        <select id="video_collection_parent_id" 
                name="video_collection[parent_id]">
          <option value="">No Parent</option>

          <% VideoCollection.all.each do |collection| %> 
            <% if collection != collection and 
               !collection.children.include? collection %>

              <option value="<%= collection.id %>">
                <%= collection.name %>
              </option>
            <% end %> 
          <% end %>
        </select>
    <% end %>
    </p>


    <p>
      <%= f.label         :name %>
      <%= f.text_field    :name %>
    </p>

    <p>
      <%= f.label         :tile_image_link, "Grid image link" %>
      <%= f.text_field    :tile_image_link %>
      <button class="reload" id="reload-grid-preview">Reload</button>

      <%= image_tag collection.tile_image_link, 
                    class: "tile_preview" %>
    </p>

    <%= f.submit "Save" %>
  </div>
<% end %>
