<h1>Video Works</h1>

<% content_for :breadcrumbs do %>
  <%= render "shared/works/breadcrumbs", collection: @video_collection %>
<% end %>


<%= render  'shared/works/main_header', collection: @video_collection %>


<div class="works">
  <%= render 'shared/works/collections_tiles', collections: collections %>
  <%= render 'shared/works/works_tiles', works: works %>
</div>


<br>
<%= link_to 'New Video collection', new_video_collection_path %>
