<li class="work fake-link" id="work-<%= work.id %>">
  <%= image_tag(work.tile_image_link, title: work.header) %>

  <%= link_to 'Show', work %>
  <%= link_to 'Edit', edit_video_work_path(work) %>
  <%= link_to 'Destroy', work, 
    method: :delete, 
    data: { confirm: 'Are you sure?' } %>
</li>
