<%# TODO: make the links point properly %>
<nav>
  <div class="landing-page-nav">
    <%= link_to "About Me", 
      about_me_contents_path, class: "nav-element full-divider-right" %>

    <%= link_to "Video", 
      about_me_contents_path, class: "nav-element" %>
      <div class="high-divider-right"></div>
      <div class="low-divider-right"></div>

    <%= link_to "Photo", 
      about_me_contents_path, class: "nav-element" %>
      <div class="high-divider-right"></div>
      <div class="low-divider-right"></div>

    <%= link_to "Current Projects", 
      about_me_contents_path, class: "nav-element full-divider-right" %>

    <%= link_to "Contact", 
      about_me_contents_path, class: "nav-element" %>

    <div id="title-text"> Andrada Popan Dorca </div>
  </div>

</nav>
