<% provide( :title, "New Work" ) %>
<%= render "head_contents" %>

<span class="invisible current_element_id">
  <%= @content.id %>
</span>

<h3>Add New Work</h3>

<div class="content_preview">
  <%= render "shared/content_lightbox", :content => @content, 
    :edit_page => true %>
</div>

<div class="envelope">
  <%= render "works_form" %>
  <%= render "shared/default_grid", :draggable => true, 
    :emphasize_highlighted => true, :active_record_object => Work %>
</div>
