<% header_limit = 50 %>
<% description_limit = 200 %>

<%= form_for @content, :html => {:id => "content_form"} do |f| %>
  <%= render "shared/default_record_form", 
    :f => f, 
    :header_limit => header_limit, 
    :description_limit => description_limit  %>

  <br />

  <h4>Project Progress</h4>
  <div>
    <%= f.label :progress, "Progress (%)" %>
    <%= f.number_field :progress, 
      class: "progress_input", min: 0, max: 100, step: 1 %>
  </div>

  <%= render "shared/grid_content_form", :f => f %>

  <%= submit_tag "Save", 
    type: 'button', id: "save_position_and_content_forms" %>
<% end %>


<% if request.original_url =~ /edit/  %>
  <%= button_to "Delete", @content, method: "delete", 
    id: "delete_item_#{@content.id}" %>
<% end %>
