<!DOCTYPE html>
<html>
<head>
  <title>
    <%= make_title(yield :title) %>
  </title>
    <%= render 'shared/layout_head_tags' %>
    <%= stylesheet_link_tag     "nav" %>
    <%= yield(:head) %>
</head>

<body>
  <div class="overlay"></div> <!-- used when a tile is clicked -->

  <%= render 'nav' %>
  <%= render 'titlebar' %>

  <div class="table-wrapper">
    <aside>
      <h1><%= yield(:header) %></h1>
    </aside>

    <main>
      <%= yield %>
    </main>
  </div>

  <%= render 'shared/layout_sign_in_links' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
