<!DOCTYPE html>
<html>
<head>
  <title>
    <%= make_title(yield :title) %>
  </title>
    <%= render 'shared/layout_head_tags' %>
    <%= yield(:head) %>
</head>

<body>
<div class="overlay"></div> <!-- used when a tile is clicked -->

<div class="container">
  <div class="secondary_container">
    <%= render 'header' %>

    <div class="main_content">
      <%= yield %>
    </div>

    <%= render 'shared/layout_sign_in_links' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</div>
</body>
</html>
