<!DOCTYPE html>
<html>
<head>
  <title>
    <%= make_title(yield :title) %>
  </title>
    <%= render 'shared/layout_head_tags' %>
    <%= yield(:head) %>
</head>

<body>
  <%= yield %>

  <%= render 'shared/layout_sign_in_links' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>
